[Unit]
Description=Tracking Exposed for Facebook
Requires=multi-user.target redis.service mongod.service
Conflicts=rescue.service rescue.target
After=multi-user.target mongod.service redis.service rescue.service rescue.target
AllowIsolate=yes
