[Unit]
Description=Fetch impressions from the collector

[Service]
Type=oneshot
User=tracking
EnvironmentFile=/home/tracking/Environment
WorkingDirectory=/home/tracking/facebook.tracking.exposed
ExecStart=/home/tracking/facebook.tracking.exposed/scripts/fetch-impressions-to-stream.js

[Install]
WantedBy=facebook-tracking-exposed.target
