[Unit]
Description=Fetch impressions from the collector

[Timer]
OnBootSec=60
OnUnitActiveSec=minutely

[Install]
WantedBy=facebook-tracking-exposed.target
