[Unit]
Description=Fetch impressions from the collector

[Service]
Type=oneshot
User=tracking
WorkingDirectory=%h/facebook.tracking.exposed
ExecStart=%h/scripts/fetch-impressions-to-stream.js

[Install]
WantedBy=facebook-tracking-exposed.target
