[Unit]
Description=Fetch impressions from the collector

[Service]
Type=oneshot
User=tracking
WorkingDirectory=~/facebook-tracking-exposed
ExecStart=scripts/fetch-impressions-to-stream.js

[Install]
WantedBy=facebook-tracking-exposed.target
