[Unit]
Description=Process impressions to extract entities

[Service]
Type=simple
User=tracking
EnvironmentFile=/home/tracking/Environment
WorkingDirectory=/home/tracking/facebook.tracking.exposed
ExecStart=/home/tracking/facebook.tracking.exposed/bin/process-entities
Restart=on-failure

[Install]
WantedBy=facebook-tracking-exposed.target
