[Unit]
Description=Process entities to generate RSS feeds

[Service]
Type=simple
User=tracking
EnvironmentFile=/home/tracking/Environment
WorkingDirectory=/home/tracking/facebook.tracking.exposed
ExecStart=/home/tracking/facebook.tracking.exposed/bin/process-rss
Restart=on-failure

[Install]
WantedBy=facebook-tracking-exposed.target
