[Unit]
Description=Process entities to generate RSS feeds

[Service]
User=tracking
WorkingDirectory=~/facebook.tracking.exposed
ExecStart=node_modules/.bin/processorctl start -s entities -p @tracking-exposed/process-rss

[Install]
WantedBy=facebook-tracking-exposed.target
