[Unit]
Description=Service RSS feeds for entities
After=network.target

[Service]
Type=simple
User=tracking
EnvironmentFile=/home/tracking/Environment
WorkingDirectory=/home/tracking/facebook.tracking.exposed
ExecStart=/home/tracking/facebook.tracking.exposed/bin/service-rss
Restart=on-failure

[Install]
WantedBy=facebook-tracking-exposed.target
